# Ignore everything
*

# Allow gitignore and README
!.gitignore
!README.md

# Allow only these two folders
!01_publications/
!02_certificates/

# Allow PDFs ONLY inside these folders
!01_publications/**/*.pdf
!02_certificates/**/*.pdf
